/* style.css */
#clock-label {
    font-size: 40px;
    font-weight: bold;
    font-family: "Courier New", monospace;
    color: rgb(211, 211, 214);
    background-color: black;
    padding: 10px;
    border-radius: 10px;
}

#grid {
    border: 5px solid red; /* Set a 5px solid red border */
  }